*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}
header #promobar{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0px;
}
header #promobar p{
    font-weight: bolder;
    margin-bottom: 5px
} 
header #promobar small a{
    color: white;
}
#navbar .navtop .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    cursor: pointer;
}
header nav #navbar .navtop .nav-left{
    display: flex;
}
header nav #navbar .navtop .nav-left .hamburger{
    display: none;
    cursor: pointer;
}
header nav #navbar .navtop .nav-left .hamburger .bars{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-color: black;
}
header nav #navbar .navtop .nav-left .flag{
    width: 26px;
    height: 13px;
    margin-right: 5px;
} 
header nav #navbar .navtop .nav-left span{
    margin: 0px 5px;
}
header nav #navbar .navtop .nav-middle h1{
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}
header nav #navbar .navtop  .nav-right{
    display: flex;
    align-items: center;
}
header nav #navbar .navtop .nav-right i{
    margin-right: 10px;
}
header nav #navbar .navtop  .nav-right p{
    margin-right: 10px;
}
header nav #navbar .navtop{
    border-bottom: 1px solid rgb(191, 191, 191);
}
header nav #navbar .navbottom .categories{
    padding: 5px;
}
header nav #navbar .navbottom .categories ul{
    text-align: center;
}
header nav #navbar .navbottom .categories ul li{
    display: inline-block; 
    margin-right: 12px;   
}
header nav #navbar .navbottom .categories ul li a{
    color: black;
    font-weight: 600;
    font-size: 14px;
}

/* Spotlight Sectiom */
#spotlight{
    position: relative;
}
#spotlight .video-sec video {
    width: 100%;
    height: 100%;
    z-index: -100;
}
#spotlight .spot-cont{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
#spotlight .content{
    color: white;
    width: 40%;
    padding: 40px;
    background-color: black;
}
#spotlight .content h2{
    font-size: 37px;
    text-transform: uppercase;
}
#spotlight .content p{
    margin: 10px 0px;
    font-weight: 400;
}
#spotlight .content button{
    padding: 6px 38px;
}
#spotlight .content button a{
    color: black;
}

/* Brands Section */
#brands{
    background-color: #f3e1db;
    padding: 60px 0px;
}
#brands .brands-top{
    text-align: center;
    background-color: #f3e1db;
    margin-bottom: 20px;
}
#brands .brands-top h2{
    text-transform: uppercase;
    font-size: 30px;
}
#brands .brands-bottom{
    position: relative;
}
#brands .brands-bottom .brands-btn{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
#brands .brands-bottom .brands-btn button{
    border: none;
    font-size: 44px;
}
#brands .brands-bottom .brands-item{
    display: flex;
    gap: 1%;
    overflow: hidden;
    transition: scroll-left 0.5s ease;
}
#brands .brands-bottom .brands-item .brands-list{
    width: 32%;
    flex: 0 0 33%;
    transition: transform 0.3 ease;
}
#brands .brands-bottom .brands-item .brands-list .brands-img{
    width: 100%;
}
#brands .brands-bottom .brands-item .brands-list .brands-img img{
    width: 100%;
    height: 100%;
}
#brands .brands-bottom h4{
    text-align: center;
} 

/* Footer Section */
#footer{
    color: white;
    background-color: black;
    padding: 60px 0px;
}
#footer .wrapper{
    display: flex;
}
#footer h3{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}
#footer a{
    color: white;
}
#footer p{
    font-size: 12px;
}
#footer .footer-left{
    background-color: #1f1f1f;
    padding: 20px;
    width: 45%;
}
#footer .footer-left input{
    width: 100%;
    background-color: transparent;
    border: 1px solid rgb(119, 119, 119);
    padding: 5px 5px;
}
#footer .footer-left .input-box{
    margin: 10px 0;
}
#footer .footer-left small{
    font-size: 12px;
}
#footer .footer-left small a{
    color: white;
    text-decoration: underline;
}
#footer .footer-middle{
    display: flex;
    padding: 20px;
}

#footer .footer-middle .middle-left ul li{
    margin: 10px 0;
    font-size: 14px;
}
#footer .footer-middle .middle-left .footer-icon{
    margin: 40px 0px;
}
#footer .footer-middle .middle-left .fa-brands{
    margin-right: 20px;
}
#footer .footer-middle .middle-right{
    margin-left: 20px;
}
#footer .footer-middle .middle-right ul li{
    margin: 10px 0;
    font-size: 14px;
}
#footer .footer-right{
    padding: 20px;
}

/* Responsive */
@media (max-width: 1280px) {
    #brands .brands-bottom h4{
        margin-bottom: 10px;
    }
    #footer .wrapper {
        flex-wrap: wrap;
    }
    #footer .footer-left{
        width: 100%;
    }
    #footer .footer-middle .middle-left{
        flex-basis: 50%;
    }
    #footer .footer-middle .middle-right{
        flex-basis: 50%;
    }
    #footer .footer-right{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 1080px) {
    #spotlight .video-sec{
        width: 100%;
        height: 100%;
    }
    #spotlight .content {
        position: relative;
        width: 100%;
        left: 0;
    }
    #spotlight .spot-cont{
        position: static;
        height: auto;
        background-color: black;
    }
}
@media (max-width: 980px) {
    #spotlight .content {
        position: relative;
        width: 100%;
        left: 0;
    }
    #navbar .navtop .nav-left .flag{
        display: none;
    }
    #navbar .navtop .nav-left p{
        display: none;
    }
    #navbar .navtop .nav-left span{
        display: none;
    }
    #navbar .navtop .nav-right p{
        display: none;
    }
    #navbar .navtop .nav-right .fa-regular{
        display: none;
    }
    #navbar .navbottom .categories .active{
        left: 0;
    } 
    header nav #navbar .navtop .nav-left .hamburger{
        display: block;
    }
    header nav #navbar .navtop .nav-left .hamburger.active .bars:nth-child(2){
        opacity: 0;
    }
    header nav #navbar .navtop .nav-left .hamburger.active .bars:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    header nav #navbar .navtop .nav-left .hamburger.active .bars:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    header nav #navbar .navbottom .categories{
        position: fixed;
        display: flex;
        left: -100%;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        text-align: center;
        background-color: white;
        transition: 0.3s;
        z-index: 10;
        cursor: pointer;
    }
    header nav #navbar .navbottom .categories ul li{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    header nav #navbar .navbottom .categories.active{
        left: 0;
    }
    #brands .brands-bottom h4{
        margin-bottom: 10px;
    }
}
@media (max-width: 768px) {
    #brands .wrapper .brands-bottom .brands-item .brands-list{
        flex-basis: 50%;
    }
}
@media (max-width: 640px) {
    #footer .footer-middle{
        flex-wrap: wrap;
        width: 100%;
    }
    #footer .footer-middle .middle-right p {
        display: none;
    }
    #footer .footer-middle .middle-right{
        margin-left: 0px;
    }
}
@media (max-width: 540px) {
    #spotlight .spot-cont .wrapper .content h2{
        font-size: 24px;
    }
    #spotlight .spot-cont .wrapper .content p{
        font-size: 14px;
    }
    #brands .brands-top h2{
        white-space: nowrap;
        font-size: large ;
    }
    #brands .brands-top p{
        font-size: smaller;
    }
    header #promobar .promobar-cont small{
        font-size: 12px;
    }
    #brands .wrapper .brands-bottom .brands-item .brands-list{
        flex-basis: 100%;
    }
    #brands .wrapper .brands-bottom .brands-item .brands-list .brands-img{
        width: 100%;
        align-items: center;
    }
}
@media (max-width: 480px) {
    #brands .brands-bottom .brands-img{
        width: 100%;
        height: 100%;
    }
    #navbar .navtop .wrapper .nav-middle h1 {
        letter-spacing: 5px;
        white-space: nowrap;
    }
    header #promobar .promobar-cont p{
        font-size: small;
    }
    header #promobar .promobar-cont small{
        display: none;
    }

}
@media (max-width: 360px) {
    #navbar .navtop .wrapper .nav-middle h1{
        letter-spacing: 2px;
    }
}